# Ignore the Flickr Dataset as its too large and need not be pushed
Flicker8k_Dataset
Flickr8k_text

# Ignore weights other than the best weight (based on val_loss)
models/model-ep001-loss4.487-val_loss4.161.h5
models/model-ep002-loss3.923-val_loss3.954.h5
models/model-ep003-loss3.611-val_loss3.887.h5
